:root {
  --white: #ffffff;
  --light-grey: #828282;
  --med-grey: #464646;
  --dark-grey: #242424;

  --groups-aqua: #00ffff;
  --groups-blue: #0000ff;
  --groups-brown: #a52a2a;
  --groups-cyan: #00ffff;
  --groups-gray: #808080;
  --groups-green: #008000;
  --groups-orange: #ffa500;
  --groups-pink: #ffc0cb;
  --groups-purple: #800080;
  --groups-red: #ff0000;
  --groups-yellow: #ffff00;
}
