.searchheader {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);

  .filter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--spacing-12) var(--spacing-8);

    @media (--lg) {
      flex-wrap: nowrap;
    }
  }
}
