.chipbutton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-12);
  width: auto;
  padding: var(--spacing-12) var(--spacing-16);
  font-weight: bold;
  border-radius: 100px;
  border-style: none;
  background-color: var(--med-grey);
  transition: background-color 0.3s ease;

  &.active {
    outline: 1px solid var(--white);

  }

  &:hover {
    cursor: pointer;
    background-color: var(--light-grey);
  }

  @media (--lg) {
    padding: var(--spacing-8) var(--spacing-16);
  }

  .prev {
    width: 16px;
    height: 16px;
    border-radius: 100px;
  }
}
